.button {
    position: relative;
    font-size: 2rem;
    width: 10rem;
    text-align: center;
    border: none;
    background: none;
    overflow: hidden;
    letter-spacing: 4px;
    span {
        position: absolute;
        background: linear-gradient(#9E9E9E, #EEEEEE);
        &:nth-child(1) {
            left: -100%;
            top: 0;
            width: 100%;
            height: 2px;
        }
        &:nth-child(2) {
            right: 0;
            top: -100%;
            width: 2px;
            height: 100%;
        }
        &:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
        }
        &:nth-child(4) {
            left: 0;
            bottom: -100%;
            width: 2px;
            height: 100%;
        }
    }
    &:hover {
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: #424242;
        box-shadow: 
        0px 0px 10px #EEEEEE, 
        0px 0px 40px #EEEEEE, 
        0px 0px 80px #EEEEEE;
        transition-delay: 1s;
        span {
            transition: 0.25s;
            &:nth-child(1) {
                left: 100%;
            }
            &:nth-child(2) {
                top: 100%;
                transition-delay: 0.25s;
            }
            &:nth-child(3) {
                right: 100%;
                transition-delay: 0.5s;
            }
            &:nth-child(4) {
                bottom: 100%;
                transition-delay: 0.75s;
            }
        }
    }
}