@histogram-height: 80vh;
@histogram-width: 100wh;

#histogram {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: @histogram-height;
  width: @histogram-width;
  margin-top: 1rem;
  .column {
    max-width: 1rem;
    margin: 0 1.5px;
    @media screen and (max-width: 1680px) {
      margin: 0 1px;
    }
    @media screen and (max-width: 1280px) {
      margin: 0 0.5px;
    }
    @media screen and (max-width: 768px) {
      margin: 0 0.1px;
    }
    border-radius: 4px;
    &.incomplete {
      background: white;
    }
    &.swap {
      background: #b6e5ff;
    }
    &.complete {
      background: #daf2ff;
    }
    &.compare {
      background: #b6e5ff;
    }
  }
}